version: '3.8'

services:
  backend:
    build: ./backend
    command: sh -c "mkdir -p /app/data && python manage.py migrate && python manage.py collectstatic --noinput && gunicorn config.wsgi:application --bind 0.0.0.0:8000 --workers 3"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
      - sqlite_data:/app/data
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    restart: always

volumes:
  static_volume:
  media_volume:
  sqlite_data:
